<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: Link-css"></th:block>
  <title>Update Book</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Update Book</h1>
  <form th:action="@{/books/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
    <div class="col-6 mb-3">
      <label class="form-label" for="title">Title:</label>
      <input class="form-control" type="text" th:field="*{title}" id="title">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="author">Author:</label>
      <input class="form-control" type="text" th:field="*{author}" id="author">
    </div>
    <div class="col-sm-3">
      <label class="form-label" for="price">Price:</label>
      <input class="form-control" type="text" th:field="*{price}" id="price">
    </div>
    <div class="col-6 mb-3">
      <label class="form-label" for="category">Category:</label>
      <select class="form-control" id="category" name="category.id">
        <option value="">-- Select Category --</option>
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
      </select>
    </div>
    <input type="submit" class="btn btn-primary" value="Edit">
  </form>
  <br>
  <a th:href="@{/books}" class="btn btn-secondary btn-sm">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>