<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Thành công</title>-->
<!--  <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f2f2f2;-->
<!--            text-align: center;-->
<!--        }-->

<!--        h2 {-->
<!--            color: #4CAF50;-->
<!--        }-->

<!--        .container {-->
<!--            background-color: #ffffff;-->
<!--            padding: 20px;-->
<!--            border-radius: 10px;-->
<!--            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);-->
<!--            margin: 20px auto;-->
<!--            max-width: 400px;-->
<!--        }-->

<!--        .button {-->
<!--            display: inline-block;-->
<!--            padding: 10px 20px;-->
<!--            background-color: #4CAF50;-->
<!--            color: #fff;-->
<!--            text-decoration: none;-->
<!--            border-radius: 5px;-->
<!--        }-->

<!--        .button:hover {-->
<!--            background-color: #45a049;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--  <h2>Đăng ký thành công!</h2>-->
<!--  <p> Bạn đã đăng ký thành công tài khoản của mình.</p>-->
<!--  <a class="button" href="/otp-verification">Xác thực tài khoản</a>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->