<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link th:replace="Layout :: Link-css" />
</head>
<body>
<div class="container">
    <h1>Thêm Loại</h1>
    <form th:action="@{/categorys/addcategory}" th:object="${category}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" />
        </div>
        <input type="submit" class="btn btn-primary" value="Save" />
    </form>
    <br>
    <a th:href="@{/categorys}">Back to List</a>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>

