<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UNG DUNG NHOM CHAT</title>
    <th:block th:replace="Layout :: Link-css"></th:block>
</head>
<body>
<th:block th:replace="Layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                TRANG CHỦ ỨNG DỤNG QUẢN LÝ - KẾT NỐI CỘNG ĐỒNG
            </a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <img src="https://wallpaper-house.com/data/out/2/wallpaper2you_23450.jpg" style="width: 1299px; margin: auto;">
        </div>
    </nav>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>