<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UNG DUNG NHOM CHAT</title>
    <th:block th:replace="Layout :: Link-css"></th:block>
</head>
<body>
<th:block th:replace="Layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                TRANG CHỦ ỨNG DỤNG QUẢN LÝ - KẾT NỐI CỘNG ĐỒNG
            </a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <img src="https://media.istockphoto.com/id/1184784799/vi/vec-to/c%E1%BB%99ng-%C4%91%E1%BB%93ng-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-v%C3%A0-c%C3%B4ng-ty-logo-icon-vector.jpg?s=1024x1024&w=is&k=20&c=_mRkS0fQ3DBBIxAv03Byjf2EsNOtbdYUOpqrOs_13Q8=" style="width: 1299px; margin: auto;">
        </div>
    </nav>
</div>
<th:block th:replace="Layout :: footer"></th:block>
</body>
</html>